@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 248px;
    /*Tive que botar uma imagem menor que a original porque a minha tela e muito pequena e tansbordava para cima*/
    background:url(../imagens/frame-iphone-menor.png) no-repeat center;
}

iframe#tela {
    position: relative;
    top: 64px;
    left: 18px;
    width: 213px;
    height: 375px;
}

section#redes-sociais {
    text-align: right;
}
/*Se eu colocasse section > img ia dar erro, porque quando adiciono o '>' eu pego as img que estao imediatamente dentro da section, pois se ela estiver dentro de uma div'por exemplo' nao funcionar, então em casos em que o elemento 'uma img por exemplo' vai estar dentro de outros elementos div, a, p etc' não se deve usar '>' por ela não estar imediatamente dentro da elemento*/
section#redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

section#redes-sociais img:hover {
    border: 2px solid white;
    /*box-sizing: border-box;faz com que a borda faça parte */
}